DATABASE_URL=sqlite:///./data/polls.sqlite3
APP_ENV=development
WIKIPEDIA_FR_URL=https://fr.wikipedia.org/wiki/Liste_de_sondages_sur_l%27%C3%A9lection_pr%C3%A9sidentielle_fran%C3%A7aise_de_2027
WIKIPEDIA_EN_URL=https://en.wikipedia.org/wiki/Opinion_polling_for_the_2027_French_presidential_election

